STACK_NAME=redis
TZ=America/Sao_Paulo
RESTART_POLICY=unless-stopped

REDIS_NETWORK_NAME=dockge_redis_network

REDIS_CONTAINER_NAME=dockge-redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me_redis_password
REDIS_DATA_VOLUME_NAME=dockge_redis_data

REDIS_INSIGHT_CONTAINER_NAME=dockge-redis-insight
REDIS_INSIGHT_PORT=5540
REDIS_INSIGHT_DATA_VOLUME_NAME=dockge_redis_insight_data
