STACK_NAME=neo4j
TZ=America/Sao_Paulo
RESTART_POLICY=unless-stopped

NEO4J_NETWORK_NAME=dockge_neo4j_network

NEO4J_CONTAINER_NAME=dockge-neo4j
NEO4J_HTTP_PORT=7474
NEO4J_BOLT_PORT=7687
NEO4J_PASSWORD=change_me_neo4j_password
NEO4J_DATA_VOLUME_NAME=dockge_neo4j_data
NEO4J_LOGS_VOLUME_NAME=dockge_neo4j_logs
