STACK_NAME=mongodb
TZ=America/Sao_Paulo
RESTART_POLICY=unless-stopped

MONGODB_NETWORK_NAME=dockge_mongodb_network

MONGODB_CONTAINER_NAME=dockge-mongodb
MONGODB_PORT=27017
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=change_me_mongodb_password
MONGODB_DATABASE=app
MONGODB_DATA_VOLUME_NAME=dockge_mongodb_data
