STACK_NAME=platform
TZ=America/Sao_Paulo
RESTART_POLICY=unless-stopped

PLATFORM_NETWORK_NAME=platform_network

DOCKGE_CONTAINER_NAME=platform-dockge
DOCKGE_ENABLE_CONSOLE=true
DOCKGE_PORT=5001
DOCKGE_STACKS_PATH=./stacks
DOCKGE_DATA_VOLUME_NAME=platform_dockge_data

DOZZLE_CONTAINER_NAME=platform-dozzle
DOZZLE_PORT=8080

UPTIME_KUMA_CONTAINER_NAME=platform-uptime-kuma
UPTIME_KUMA_PORT=3001
UPTIME_KUMA_DATA_VOLUME_NAME=platform_uptime_kuma_data
