STACK_NAME=postgresql
TZ=America/Sao_Paulo
RESTART_POLICY=unless-stopped

POSTGRESQL_NETWORK_NAME=dockge_postgresql_network

POSTGRESQL_CONTAINER_NAME=dockge-postgresql
POSTGRESQL_PORT=5432
POSTGRESQL_USER=app
POSTGRESQL_PASSWORD=change_me_postgresql_password
POSTGRESQL_DATABASE=app
POSTGRESQL_DATA_VOLUME_NAME=dockge_postgresql_data

PGADMIN_CONTAINER_NAME=dockge-pgadmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.local
PGADMIN_DEFAULT_PASSWORD=change_me_pgadmin_password
PGADMIN_DATA_VOLUME_NAME=dockge_pgadmin_data
