STACK_NAME=mariadb
TZ=America/Sao_Paulo
RESTART_POLICY=unless-stopped

DATABASE_NETWORK_NAME=dockge_database_network

MARIADB_CONTAINER_NAME=dockge-mariadb
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=change_me_root_password
MARIADB_DATABASE=app
MARIADB_USER=app
MARIADB_PASSWORD=change_me_app_password
MARIADB_DATA_VOLUME_NAME=dockge_mariadb_data

PHPMYADMIN_CONTAINER_NAME=dockge-phpmyadmin
PHPMYADMIN_PORT=8081
