STACK_NAME=elasticsearch
TZ=America/Sao_Paulo
RESTART_POLICY=unless-stopped

ELASTICSEARCH_NETWORK_NAME=dockge_elasticsearch_network

ELASTIC_STACK_VERSION=8.15.3
ES_JAVA_OPTS=-Xms512m -Xmx512m

ELASTICSEARCH_CONTAINER_NAME=dockge-elasticsearch
ELASTICSEARCH_HTTP_PORT=9200
ELASTICSEARCH_TRANSPORT_PORT=9300
ELASTICSEARCH_DATA_VOLUME_NAME=dockge_elasticsearch_data

KIBANA_CONTAINER_NAME=dockge-kibana
KIBANA_PORT=5601
