STACK_NAME=dynamodb
TZ=America/Sao_Paulo
RESTART_POLICY=unless-stopped

DYNAMODB_NETWORK_NAME=dockge_dynamodb_network

DYNAMODB_CONTAINER_NAME=dockge-dynamodb-local
DYNAMODB_PORT=8000
DYNAMODB_DATA_VOLUME_NAME=dockge_dynamodb_data

AWS_CLI_CONTAINER_NAME=dockge-aws-cli
AWS_ACCESS_KEY_ID=DUMMYIDEXAMPLE
AWS_SECRET_ACCESS_KEY=DUMMYEXAMPLEKEY
AWS_DEFAULT_REGION=us-west-2
